<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Form {{title}}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body >
    <h1>Text To Speech</h1>
    </div>
    <div class="form">
        <form action="/" method="POST">
            {% csrf_token %}
            <div class="container-1">
                <p> <textarea name="message" class="submit" placeholder="Enter your text" style="font-family:Arial, FontAwesome"></textarea></p>
                <button class="btn btn-warning">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>